.use {
  width: 90%;
  margin: 0% 5%;
}
.use .problem {
  text-align: center;
  width: 42%;
  float: right;
  /* border: 1px solid #000; */
  height: 185vh;
  overflow: overlay;
  overflow-x: hidden;
  -ms-overflow-style: none;
  box-shadow: 3px 3px 3px gray;
  border-radius: 0px 0px 5px 5px;
}
button span{
  display: table-cell;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  /* background-color: red; */
}
.use .pr-head {
  margin-left: 3%;
  width: 97%;
  transition: background-color 1s;
  font-size: 1.7vh;
}
.use .pr-head span {
  display: inline-block;
  width: 20%;
}
.pr-head:nth-child(odd){
  background-color: #f0f0f0;
}
.use .pr-head span:nth-child(1) {
  text-align: left;
  width: 5%;
  vertical-align: top;
}
.use .pr-head span:nth-child(2) {
  text-align: left;
  width: 15%;
  padding: 1% 0;
}
.use .pr-head span:nth-child(3) {
  width: 40%;
  padding: 1% 0;
  vertical-align: middle;
}
.Algo {
  width: 90%;
  height: 80vh;
  margin: 0% 5%;
}

.Algo .user {
  float: left;
  width: 50%;
}

.Algo .subTitle {
  font-size: large;
}
.Algo .reco {
  float: right;
  width: 50%;
}

.Algo .userAlgo {
  display: block;
  width: 80%;
  height: 5vh;
  margin: 5% 0% 0% 10%;
  background-color: #f0f0f0;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.Algo .recoAlgo {
  display: inline-block;
  width: 80%;
  height: 5vh;
  margin: 5% 10% 0% 0%;
  background-color: #f0f0f0;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.Algo button {
  border-radius: 15px 15px 15px 15px;
  border: 0px;
  cursor: pointer;
}
