.assign {
  width: 90%;
  height: 100vh;
  margin: 0% 5%;
}

.assign h1 {
  text-align: center;
}
.assign h3 {
  margin: 0% 0% 10% 0%;
}

.input {
  width: 50%;
  margin: 0% 5%;
  float: left;
}

.input textarea {
  width: 100%;
  height: 90vh;
}

.input textarea::placeholder {
  text-align: center;
  font-size: xx-large;
  line-height: 200%;
}

.buttonList {
  width: 20%;
  float: right;
}

.buttonList input[type="text"] {
  height: 3vh;
  margin-bottom: 10%;
}
.buttonList input[type="date"] {
  height: 3vh;
  margin-bottom: 10%;
}

.buttonList button {
  margin-bottom: 10%;
  display: block;
}

.assign p {
  display: inline;
  font-size: x-large;
  margin-bottom: 10px;
}
