.comments_input {
  border: 1px solid #808080;
  width: 80%;
  border-radius: 1%;
  text-align: left;
  margin: 0 10%;
  height: auto;
}

.comment_input_area {
  border-radius: 3%;
  width: 90%;
  height: 100px;
}

.comment_button {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0.5% 0;
  border-radius: 4px;
}
