.rating {
  text-align: center;
  width: 90%;
  margin: 0 5%;
}
.rating .ratingProblem {
  width: auto;
  height: 50vh;
  border: 1px solid #f0f0f0;
  padding: 2% 0;
  margin: 2% 0;
}

.rating .ratingProblem .mostProblem {
  padding-top: 4%;
  width: 50%;
  height: 100%;
  margin: 0 2.5%;
  float: left;
}
.rating .ratingProblem .mostProblemInner {
  height: 100%;
  overflow: overlay;
  overflow-x: hidden;
  -ms-overflow-style: none;
  width: 100%;
}

.rating .ratingProblem .minProblem {
  height: 80%;
  overflow: overlay;
  overflow-x: hidden;
  -ms-overflow-style: none;
  width: 40%;
  margin: 0% 2.5%;
  float: left;
}

.rating .p-head {
  width: 90%;
  margin: 0 5%;
  padding: 1%;
  /* transition: background-color 1s; */
}

/* .rating .p-head:hover {
  background-color: gold;
} */
.p-head:nth-child(odd) {
  background-color: #f0f0f0;
}

/* 가장 적게 푼 문제 테이블의 너비 */
.rating .ratingProblem .minProblem .p-head span {
  display: inline-block;
  width: 20%;
}
.rating .ratingProblem .minProblem .p-head span:nth-child(2) {
  width: 60%;
}

/* 학생 랭킹 테이블의 너비 */
.rating .ratingProblem .mostProblem .p-head span {
  display: inline-block;
  width: 12%;
}
.rating .ratingProblem .mostProblem .p-head span:nth-child(3) {
  width: 28%;
}

.rating a {
  text-decoration: none;
  color: black;
}
.rating a:hover {
  text-decoration: underline;
}

/* ************************************* */
/* rank 별 */
.rating .rankProblem {
  width: auto;
  height: 70vh;
  border: 1px solid #f0f0f0;
  padding: 2% 0;
  margin: 2% 0;
}
.rating .rank {
  position: sticky;
  top: 0px;
  height: 20vh;
}
.rating .rankButton {
  width: 7%;
  display: inline-block;
  margin: 0 3%;
}
.rating .rankButton button {
  width: 100%;
}

.rating .subRank {
  margin: 3% 0;
}

.rating .rankProblems {
  width: auto;
  height: 47vh;
  overflow: overlay;
  overflow-x: hidden;
  -ms-overflow-style: none;
  border: 1px solid #f0f0f0;
  padding: 2% 0;
}
