.use {
  width: 90%;
  margin: 0 5%;
}

.user .tearTable {
  width: 50%;
  float: left;
  margin-bottom: 5%;
}

.user .tagTable {
  width: 50%;
}

.user .problem {
  margin-right: 5%;
  width: 40%;
  float: right;
  border: 1px solid #000;
}

.user {
  text-align: center;
}
.user h1 {
  margin-left: 5%;
}
.user table {
  border: 1px solid #000;
}

.user td {
  width: 9%;
  border: 1px solid #000;
}
