body {
  background-color: #eee;
  padding: 0;
  margin-top: 2px;
}

div.main-menu {
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  background-color: #f8f8f8;
}

div.main-menu div {
  width: 1200px;
  margin: 0px auto;
}
div.main-menu h1 {
  margin: 0;
  font-size: 16pt;
  display: inline-block;
}

div.main-menu a {
  text-decoration: none;
}

div.container2 {
  width: 1200px;
  margin: 0px auto;
  background-color: white;
}

select {
  border: 1px solid #aaa;
  padding: 6px 15px;
  font-size: 11pt;
}
input[type='text'] {
  border: 1px solid #aaa;
  padding: 6px;
  font-size: 11pt;
}
input[type='password'] {
  border: 1px solid #aaa;
  padding: 6px;
  font-size: 11pt;
}

textarea {
  border: 1px solid #aaa;
  padding: 6px;
}

.btn2 {
  border: 1px solid #ddd;
  background: linear-gradient(#fff, #d0d0d0);
  text-decoration: none;
  color: black;
  display: inline-block;
}

.btn2 {
  font-size: 11pt;
  padding: 0.6em 2em;
  border-radius: 0.5em;
}

.btn2.small {
  padding: 0.4em 1em;
  border-radius: 0.3em;
}

.btn2:active {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  background: #ccc;
}

.btn2.blue {
  color: white;
  border: none;
  background: linear-gradient(#8cf, #05c);
}
.btn2.blue:active {
  background: #05c;
}

.btn2.green {
  color: white;
  border: none;
  background: linear-gradient(#8e8, #080);
}
.btn2.green:active {
  background: #080;
}

.btn2.red {
  color: white;
  border: none;
  background: linear-gradient(#faa, #a00);
}
.btn2.red:active {
  background: #800;
}

.btn2.yellow {
  color: black;
  border: 1px solid #eec;
  background: linear-gradient(#ffc, #dd0);
}
.btn2.yellow:active {
  background: #dd0;
}

.btn2.cyan {
  color: white;
  border: none;
  background: linear-gradient(#0ee, #099);
}
.btn2.cyan:active {
  background: #099;
}

.right {
  float: right;
}

ul.pagination {
  margin: 0;
  padding: 0;
}
ul.pagination li {
  font-size: 11pt;
  color: #08f;
  display: inline-block;
  border: 1px solid #ddd;
  border-right: none;
  padding: 0.5em 0.9em;
  text-align: center;
  cursor: pointer;
}
ul.pagination li:last-child {
  border: 1px solid #ddd;
}

ul.pagination li.active {
  color: white;
  background-color: #6ac;
}

div.footer {
  border-top: 1px solid #eee;
  padding: 30px;
  font-size: 10pt;
  color: #888;
  width: 100%;
}
