div.container2 {
  padding: 20px;
}
div.nav {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}
div.panel {
  width: 600px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ccc;
}
div.panel h1 {
  margin: 0;
  font-size: 14pt;
  font-weight: bold;
  background: linear-gradient(90deg, #def, #bcd);
  padding: 10px 15px 7px 15px;
}
div.panel-body {
  padding: 20px;
}

div.panel input {
  padding: 0.7em 1em;
  margin-bottom: 7px;
  width: 300px;
  border: 2px solid #dee;
  border-radius: 8px;
}
div.panel input:focus {
  border: 2px solid #aaf;
  outline: none;
}
div.panel .btn2 {
  margin-top: 10px;
  padding: 0.7em 1.5em;
}

form > div {
  margin-bottom: 20px;
}
label {
  font-size: 11pt;
  font-weight: bold;
  display: block;
}
