.Algo button span {
  display: table-cell;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  /* background-color: red; */
}
.Algo {
  width: 90%;
  height: 80vh;
  margin: 0% 5%;
}

.Algo .user {
  float: left;
  width: 50%;
}

.Algo .subTitle {
  font-size: large;
}
.Algo .reco {
  float: right;
  width: 50%;
}

.Algo .userAlgo {
  display: block;
  width: 80%;
  height: 5vh;
  margin: 5% 0% 0% 10%;
  background-color: #f0f0f0;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.Algo .recoAlgo {
  display: inline-block;
  width: 80%;
  height: 5vh;
  margin: 5% 10% 0% 0%;
  background-color: #f0f0f0;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.Algo button {
  border-radius: 15px 15px 15px 15px;
  border: 0px;
  cursor: pointer;
}
