.main-menu table {
  margin: 1% 0;
  border-spacing: 10px 0;
  width: 60%;
}
.main-menu td {
  font-size: x-large;
  color: #888;
}

.footer {
  position: relative;
  transform: translateY(-100%);
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 3%;
  color: #888;
  width: 100%;
}

.mainPage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
