.root {
  width: 1300px;
}
::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1300px) {
  .root {
    width: 100vw;
    overflow-y: hidden;
  }
}

.main-menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-menu table {
  margin: 1% 0 1% 5%;
  width: 80%;
  /* border-spacing: 40px 0; */
}

.main-menu td {
  text-align: center;
  width: 14%;
}

.main-menu td:nth-child(2) {
  width: 6%;
}

.main-menu td:nth-child(6) {
  width: 6%;
}

.main-menu td button {
  font-size: x-large;
  color: #888;
  border: 0;
  outline: 0;
  background-color: #fff;
  cursor: pointer;
}

.main-menu .main-hover {
  font-size: larger;
}

.footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  /* transform: translateY(-100%); */
  background-color: #fff;
  font-size: 3%;
  color: #888;
  width: 100%;
}

.mainPage {
  min-height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
